html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'PFBeauSansPro';
  src: url("../fonts/pfbeausanspro-reg.ttf");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'PFBeauSansPro';
  src: url("../fonts/pfbeausanspro-sebold.ttf");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'PFBeauSansPro';
  src: url("../fonts/pfbeausanspro-light.ttf");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  font-family: "PFBeauSansPro", sans-serif;
  color: #fff; }

a {
  text-decoration: none;
  color: #fff; }

textarea {
  resize: none; }

img {
  max-width: 100%;
  vertical-align: bottom; }

picture {
  display: block; }

body {
  overflow-x: hidden;
  position: relative;
  background-color: #000; }

strong {
  font-weight: 600; }

.wrapper {
  max-width: 1980px;
  margin: 0 auto;
  overflow-x: hidden;
  -webkit-transition: .5s transform;
  transition: .5s transform;
  background-image: url("../image/bg.jpg");
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 665px) {
    .wrapper {
      background-image: none; }
      .wrapper::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -10;
        background: url("../image/bg.jpg") no-repeat center center;
        background-size: cover; } }
  .wrapper_error {
    background-image: url("../image/bg2.jpg"); }
    .wrapper_error .footer__wrapper {
      margin-left: auto;
      margin-right: auto; }
    @media only screen and (max-width: 665px) {
      .wrapper_error::before {
        background-image: url("../image/bg2.jpg"); } }
  .wrapper_opened {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.link {
  -webkit-transition: .4s;
  transition: .4s; }
  .link:hover {
    color: #f00; }

.zoom-picture {
  cursor: pointer; }

.btn {
  display: inline-block;
  vertical-align: middle;
  border: none;
  font: inherit;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: 100%;
  text-align: center;
  padding: 7px 10px 3px;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  border: 3px solid #f00;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: background-color .4s;
  transition: background-color .4s; }
  .btn:hover {
    background-color: #f00; }
  .btn:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn[disabled], .btn.is-disabled {
    opacity: 0.3;
    cursor: not-allowed; }
  .btn_product {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 170px; }
  .btn_one {
    padding: 5px 30px;
    margin: 0 10px;
    margin-bottom: 30px; }
    @media only screen and (max-width: 665px) {
      .btn_one {
        display: block;
        margin: 0 auto 30px; } }
  .btn_menu {
    width: 180px;
    padding: 10px 10px 6px;
    margin-bottom: 30px; }
  .btn_form-review {
    width: calc(30% - 20px);
    min-width: 128px;
    margin: 10px; }
  .btn_show-more {
    display: block;
    border: none;
    background-color: #000;
    padding: 10px 10px 15px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px; }
    .btn_show-more:hover::after {
      background-color: #000; }
    .btn_show-more::after {
      content: '';
      display: block;
      margin: 0 auto;
      margin-top: 5px;
      width: 70%;
      height: 4px;
      background-color: #f00;
      -webkit-transition: background-color .4s;
      transition: background-color .4s; }
  .btn_error {
    color: #424242; }

.caption {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 8px 0;
  font-size: 24px;
  text-align: center;
  margin-bottom: 25px; }
  .caption_triangles {
    position: relative; }
  .caption_triangles::before, .caption_triangles::after {
    content: '';
    position: absolute;
    border: 10px solid transparent; }
  .caption_triangles::before {
    border-left: 10px solid #f00;
    border-top: 10px solid #f00;
    top: 0;
    left: 30%; }
    @media only screen and (max-width: 665px) {
      .caption_triangles::before {
        left: 15%; } }
  .caption_triangles::after {
    border-right: 10px solid #f00;
    border-bottom: 10px solid #f00;
    bottom: 0;
    right: 30%; }
    @media only screen and (max-width: 665px) {
      .caption_triangles::after {
        right: 15%; } }
  .caption_review {
    font-size: 18px;
    background-color: transparent; }
    @media only screen and (max-width: 665px) {
      .caption_review::before, .caption_review::after {
        content: none; } }

.parent-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px; }
  .parent-caption .caption {
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    padding: 8px 30px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-transform: uppercase;
  position: relative; }
  @media only screen and (max-width: 665px) {
    .header {
      background-color: #000;
      border-top: 3px solid #d6151b;
      border-bottom: 3px solid #d6151b;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .header__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: center;
    border-top: 3px solid #d6151b;
    border-bottom: 3px solid #d6151b;
    background-color: #000; }
    @media only screen and (max-width: 665px) {
      .header__block {
        display: none; } }
  .header__logo {
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px; }
    @media only screen and (max-width: 1130px) {
      .header__logo {
        -ms-flex-preferred-size: 350px;
            flex-basis: 350px; } }
    @media only screen and (max-width: 665px) {
      .header__logo {
        margin-left: 10px;
        max-width: 150px;
        padding: 5px 0; } }
    @media only screen and (max-width: 665px) {
      .header__logo-big {
        display: none; } }
    @media only screen and (min-width: 666px) {
      .header__logo-min {
        display: none; } }
  .header__delivery {
    padding: 10px 5px 7px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    color: #d6151b; }
    @media only screen and (max-width: 1130px) {
      .header__delivery {
        padding: 6px 5px 0; } }
    @media only screen and (max-width: 850px) {
      .header__delivery {
        display: none; } }
    .header__delivery_border {
      border-right: 3px solid #d6151b; }
      @media only screen and (max-width: 850px) {
        .header__delivery_border_none {
          border: none; } }
    .header__delivery-item {
      font-size: 14px; }
    .header__delivery-num {
      font-size: 30px; }
      @media only screen and (max-width: 1130px) {
        .header__delivery-num {
          font-size: 20px; } }
  .header__outer-menu {
    position: relative;
    margin-right: 10px;
    padding: 15px 0;
    -webkit-transition: color .5s;
    transition: color .5s; }
    @media only screen and (min-width: 666px) {
      .header__outer-menu {
        display: none; } }
    .header__outer-menu:hover {
      cursor: pointer; }
  .header__cart {
    cursor: pointer;
    padding: 5px 0; }
    @media only screen and (min-width: 666px) {
      .header__cart {
        display: none; } }
    .header__cart-content {
      position: relative;
      text-align: center; }
      .header__cart-content img {
        width: 35px; }
    .header__cart-value {
      font-size: 12px;
      padding-top: 10px; }
    .header__cart-price {
      padding-left: 5px;
      font-size: 10px;
      text-transform: none; }
    .header__cart-label {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #f00;
      border-radius: 50px;
      padding: 3px 6px 1px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }
  @media only screen and (max-width: 665px) {
    .nav {
      display: none; } }
  .nav__item {
    padding: 22.5px 5px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    font-size: 18px;
    -webkit-transition: background-color .4s;
    transition: background-color .4s; }
    @media only screen and (max-width: 1130px) {
      .nav__item {
        padding: 13px 5px;
        font-size: 16px; } }
    .nav__item_border {
      border-right: 3px solid #d6151b; }
      @media only screen and (max-width: 850px) {
        .nav__item_border_none {
          border: none; } }
    .nav__item:hover {
      background-color: #d6151b; }

.box {
  background: rgba(0, 0, 0, 0.9);
  margin-bottom: 50px;
  padding-bottom: 20px;
  position: relative; }
  .box::before {
    content: '';
    position: absolute;
    border: 20px solid transparent;
    border-top: 20px solid #f00;
    border-left: 20px solid #f00;
    top: 0;
    left: 0; }
  .box_margin-bottom_20 {
    margin-bottom: 20px; }
  .box_pb_0 {
    padding-bottom: 1px; }
  .box_ta_c {
    text-align: center; }
  .box_ta_l {
    text-align: left; }
  .box_hidden {
    margin-bottom: 20px; }
    @media only screen and (min-width: 1024px) {
      .box_hidden {
        display: none; } }
    @media only screen and (max-width: 665px) {
      .box_hidden {
        display: none; } }
  @media only screen and (min-width: 666px) and (max-width: 1023px) {
    .box_menu {
      padding-bottom: 0; } }
  @media only screen and (max-width: 665px) {
    .box_menu {
      background: transparent;
      margin-bottom: 0;
      padding-bottom: 0; } }
  .box__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 15px;
    padding: 20px 15px 0; }
    .box__title_f_18 {
      font-size: 18px; }
    .box__title_tt_n {
      text-transform: none; }
    .box__title_paddings {
      margin-bottom: 20px;
      padding-top: 40px;
      padding-bottom: 0; }
    .box__title_vertical_line {
      position: relative; }
      .box__title_vertical_line::after {
        content: '';
        display: block;
        margin: 20px auto;
        width: 30%;
        height: 3px;
        background-color: #f00; }
  .box__title-menu {
    border: 3px solid #f00;
    padding: 17px 15px 13px;
    margin-bottom: 15px;
    -webkit-transition: background-color .4s;
    transition: background-color .4s; }
    @media only screen and (max-width: 665px) {
      .box__title-menu {
        background-color: #000; } }
    .box__title-menu:hover {
      background-color: #f00; }
  .box__paragraph {
    margin: 25px 60px;
    line-height: 1.6; }
    .box__paragraph-space {
      margin-left: 30px; }
  .box_ninja {
    position: absolute;
    right: 30px;
    bottom: 10px;
    pointer-events: none; }
    @media only screen and (max-width: 1023px) {
      .box_ninja {
        display: none; } }
  .box_ninja2 {
    background-image: url("../image/ninja2.png");
    background-repeat: no-repeat;
    background-size: 109px 79px;
    background-position: 95% 85%; }
    @media only screen and (max-width: 1023px) {
      .box_ninja2 {
        background-image: none; } }
  .box__info {
    margin: 20px 0;
    padding: 0 10px;
    padding-left: 50px;
    position: relative;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6; }
    .box__info-title {
      font-size: 16px; }
    .box__info_mt_20 {
      margin-top: 20px; }
    .box__info_line::after {
      content: '';
      width: 50%;
      height: 3px;
      background-color: #f00;
      position: absolute;
      bottom: -20px;
      left: 50px;
      margin-bottom: 10px; }
    .box__info::before {
      content: '';
      position: absolute;
      left: 10px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center; }
    .box__info_bigger {
      padding-left: 70px; }
    .box__info_bigger::before {
      width: 50px;
      height: 50px; }
    .box__info_monument::before {
      background-image: url("../image/sprites/monument.png"); }
    .box__info_car::before {
      background-image: url("../image/sprites/car.png"); }
    .box__info_clock::before {
      background-image: url("../image/sprites/clock.png"); }
    .box__info_sushi::before {
      background-image: url("../image/sprites/sushi.png"); }
    .box__info_map::before {
      background-image: url("../image/sprites/map.png"); }
    .box__info_phone::before {
      background-image: url("../image/sprites/phone.png"); }
    .box__info_cart::before {
      background-image: url("../image/sprites/cart.png"); }
    .box__info_car-free::before {
      background-image: url("../image/sprites/car-free.png"); }
    .box__info_24h::before {
      background-image: url("../image/sprites/24h.png"); }
    .box__info_bag::before {
      background-image: url("../image/sprites/bag.png"); }
    .box__info_time::before {
      background-image: url("../image/sprites/time.png"); }
    .box__info_gift::before {
      background-image: url("../image/sprites/gift.png"); }
    .box__info_cash::before {
      background-image: url("../image/sprites/cash.png"); }
    .box__info_visa::before {
      background-image: url("../image/sprites/visa.png"); }
    .box__info_privat::before {
      background-image: url("../image/sprites/privat24.png"); }
    .box__info_finger::before {
      background-image: url("../image/sprites/finger.png"); }
    .box__info_run::before {
      background-image: url("../image/sprites/run.png"); }
    .box__info_smile::before {
      background-image: url("../image/sprites/smile.png"); }
  .box__operators {
    font-size: 16px;
    font-weight: 300; }
  .box__phone {
    font-size: 25px;
    line-height: 1; }
  .box__info_delivery {
    padding: 0 10px; }
    .box__info_delivery::before {
      display: block;
      position: static;
      width: 115px;
      height: 80px;
      margin-top: 20px;
      -webkit-transform: none;
              transform: none;
      margin: 0 auto 10px; }
      @media only screen and (max-width: 665px) {
        .box__info_delivery::before {
          content: none; } }
  .box__title_delivery {
    font-size: 18px;
    text-transform: none;
    color: #f00;
    padding: 0;
    margin: 0 0 10px 0; }
  .box__text {
    font-size: 14px;
    font-weight: 300;
    padding: 0 10px;
    line-height: 20px;
    text-align: center; }
    @media only screen and (max-width: 665px) {
      .box__text {
        padding: 0; } }
  .box__text_delivery {
    text-align: left;
    padding: 0 5px; }
  .box__phones {
    text-align: center;
    margin-bottom: 20px; }
  .box__map {
    text-align: center; }

.content {
  max-width: 1435px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  @media only screen and (max-width: 665px) {
    .content {
      display: block;
      overflow-y: hidden; } }

.left-column {
  max-width: 18.815%;
  width: 100%;
  margin-left: 2.095%;
  margin-right: 1.0475%;
  position: relative;
  z-index: 2; }
  @media only screen and (max-width: 1023px) {
    .left-column {
      max-width: 28.1342%; } }
  @media only screen and (max-width: 665px) {
    .left-column {
      margin-right: 10%;
      margin-left: 10%;
      max-width: 80%;
      padding-top: 20px; } }

.right-column {
  max-width: 18.815%;
  width: 100%;
  margin-right: 2.095%;
  margin-left: 1.0475%;
  position: relative; }
  @media only screen and (max-width: 1023px) {
    .right-column {
      display: none; } }

.main {
  width: 100%;
  max-width: 53.99%;
  padding-top: 15px;
  margin: 0 1.0475%; }
  @media only screen and (max-width: 1023px) {
    .main {
      max-width: 65.6283%; } }
  @media only screen and (max-width: 665px) {
    .main {
      display: none; } }

.menu {
  text-align: center; }
  @media only screen and (min-width: 666px) and (max-width: 1023px) {
    .menu {
      display: none; } }
  .menu__item {
    margin: 5px 0;
    padding: 0 10px;
    position: relative; }
    .menu__item:hover .menu__droplist {
      visibility: visible;
      opacity: 1;
      pointer-events: auto; }
    @media only screen and (max-width: 665px) {
      .menu__item {
        margin: 20px 0;
        background-color: #000;
        -webkit-transition: background-color .4s;
        transition: background-color .4s;
        padding: 0; }
        .menu__item:hover {
          background-color: #f00; } }
    @media only screen and (max-width: 665px) {
      .menu__item_mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 20px 10px; } }
    .menu__item-img {
      max-width: 100px;
      margin: 0 auto; }
      @media only screen and (max-width: 665px) {
        .menu__item-img {
          -webkit-box-flex: 1;
              -ms-flex: 1 1 130px;
                  flex: 1 1 130px;
          max-width: 130px;
          padding-right: 5px; } }
      @media only screen and (max-width: 665px) {
        .menu__item-img-desktop {
          display: none; } }
      @media only screen and (min-width: 666px) {
        .menu__item-img-mob {
          display: none; } }
    .menu__item-txt {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 300;
      padding: 7px 0; }
      @media only screen and (max-width: 665px) {
        .menu__item-txt {
          -webkit-box-flex: 1;
              -ms-flex: 1 1 auto;
                  flex: 1 1 auto;
          max-width: 186px;
          font-size: 20px; } }
    .menu__item-sale {
      position: absolute;
      top: -7px;
      right: 30px;
      padding: 15px 3px 11px;
      border-radius: 50px;
      background-color: #f00; }
      @media only screen and (max-width: 665px) {
        .menu__item-sale {
          top: -10px;
          right: -10px; } }
    .menu__item::after {
      content: '';
      display: block;
      margin: 0 auto;
      width: 50px;
      height: 2px;
      background-color: #f00;
      -webkit-transition: .5s width;
      transition: .5s width; }
      @media only screen and (max-width: 665px) {
        .menu__item::after {
          width: 100%; } }
    .menu__item:hover::after {
      width: 90%; }
    .menu__item_important {
      position: relative; }
      .menu__item_important::after {
        width: 70%;
        height: 4px; }
        @media only screen and (max-width: 665px) {
          .menu__item_important::after {
            width: 100%; } }
  .menu__droplist {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: 1s visibility, .5s opacity;
    transition: 1s visibility, .5s opacity;
    right: -90px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.9); }
    @media only screen and (max-width: 665px) {
      .menu__droplist {
        display: none; } }
    .menu__droplist::before {
      content: '';
      position: absolute;
      left: -30px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      border: 15px solid transparent;
      border-right: 15px solid #f00; }
    .menu__droplist-item {
      display: block;
      position: relative;
      text-align: left;
      margin: 10px 0;
      padding: 0 10px;
      padding-left: 20px;
      font-size: 14px; }
      .menu__droplist-item:hover {
        color: #f00; }
      .menu__droplist-item::before {
        content: '';
        width: 4px;
        height: 4px;
        background-color: #f00;
        position: absolute;
        left: 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }

.slider {
  margin-bottom: 30px; }

.share {
  position: relative; }
  .share__pic {
    opacity: .9;
    width: 100%; }
  .share__label {
    position: absolute;
    top: -10px;
    right: 0;
    padding: 20px 23px 23px 7px;
    background-image: url("../image/slider/hit.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-transform: uppercase;
    font-weight: 300; }
  .share__signboard {
    position: relative;
    top: 20px;
    width: 90%;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.9);
    border-left: 3px solid #f00;
    border-right: 3px solid #f00;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding: 11px 10px;
    margin-bottom: 100px; }
  .share__signboard::after, .share__signboard::before {
    content: '';
    width: 13px;
    height: 27px;
    position: absolute;
    background-image: url("../image/slider/signboard.png");
    background-repeat: no-repeat;
    background-position: center center;
    top: -27px; }
  .share__signboard::before {
    left: -8px; }
  .share__signboard::after {
    right: -8px; }

.flex-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-right: -1.95%;
  margin-left: -1.95%; }
  .flex-block__item {
    max-width: 46.25%;
    -ms-flex-preferred-size: 46.25%;
        flex-basis: 46.25%;
    width: 100%;
    margin: 0 1.875%;
    margin-bottom: 3.75%; }
    @media only screen and (max-width: 768px) {
      .flex-block__item {
        max-width: 96.25%;
        -ms-flex-preferred-size: 96.25%;
            flex-basis: 96.25%; } }
  .flex-block__item_2 {
    max-width: 46.25%;
    -ms-flex-preferred-size: 46.25%;
        flex-basis: 46.25%; }
    @media only screen and (max-width: 665px) {
      .flex-block__item_2 {
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
  .flex-block__item_3 {
    max-width: 29.58%;
    -ms-flex-preferred-size: 29.58%;
        flex-basis: 29.58%; }
    @media only screen and (max-width: 665px) {
      .flex-block__item_3 {
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
  .flex-block__item_margin-bottom_0 {
    margin-bottom: 0; }
  .flex-block_horizontal_line {
    position: relative;
    margin-bottom: 20px; }
    @media only screen and (max-width: 665px) {
      .flex-block_horizontal_line {
        margin-bottom: 0; } }
    .flex-block_horizontal_line::before {
      content: '';
      width: 3px;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      background-color: #f00; }

.product {
  background-color: rgba(0, 0, 0, 0.9);
  border: 3px solid #f00;
  position: relative;
  -webkit-transition: 1s -webkit-transform;
  transition: 1s -webkit-transform;
  transition: 1s transform;
  transition: 1s transform, 1s -webkit-transform; }
  .product_one {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    @media only screen and (max-width: 665px) {
      .product_one {
        display: block; } }
  .product_menu {
    text-align: center; }
  .product:hover {
    -webkit-transform: scale(1.01, 1.01);
            transform: scale(1.01, 1.01); }
  .product__title {
    margin: 10px 0 10px;
    margin-left: auto;
    max-width: 90%;
    padding: 0 10px;
    text-align: right;
    font-size: 24px;
    font-weight: 300; }
    @media only screen and (min-width: 769px) and (max-width: 900px) {
      .product__title {
        font-size: 18px; } }
    .product__title a:hover {
      color: #f00; }
    .product__title_one {
      text-align: left;
      margin: 10px 0;
      margin-top: 40px;
      max-width: 100%;
      font-size: 24px; }
      @media only screen and (max-width: 665px) {
        .product__title_one {
          text-align: center; } }
    .product__title_menu {
      text-align: center;
      margin: 30px 0;
      padding: 0;
      max-width: 100%; }
      .product__title_menu::after {
        content: '';
        display: block;
        margin: 0 auto;
        width: 70%;
        height: 4px;
        background-color: #f00;
        margin-top: 5px; }
  .product__info {
    padding: 0 10px;
    text-align: right;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px; }
    .product__info_one {
      text-align: left;
      font-size: 14px; }
      @media only screen and (max-width: 665px) {
        .product__info_one {
          text-align: right; } }
  .product__img {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; }
    .product__img_menu {
      margin-bottom: 30px; }
    .product__img_one {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 341px;
              flex: 1 1 341px;
      max-width: 60%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media only screen and (max-width: 665px) {
        .product__img_one {
          max-width: 100%;
          display: block;
          text-align: center;
          margin-top: 50px; } }
  .product__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 170px;
            flex: 1 1 170px;
    max-width: 40%; }
    @media only screen and (max-width: 665px) {
      .product__content {
        max-width: 100%;
        margin: 0 auto; } }
  .product__consist {
    padding: 0 20px;
    margin: 20px 0;
    font-size: 14px;
    line-height: 1.5;
    min-height: 63px; }
    .product__consist-title {
      font-size: 18px;
      margin-bottom: 10px; }
      @media only screen and (max-width: 665px) {
        .product__consist-title {
          text-align: center; } }
    .product__consist_one {
      padding: 0 10px;
      margin: 20px 0 40px; }
      @media only screen and (max-width: 665px) {
        .product__consist_one {
          text-align: center; } }
    @media only screen and (max-width: 665px) {
      .product__consist-list {
        display: inline-block; } }
    .product__consist-item {
      padding-left: 20px;
      position: relative; }
      @media only screen and (max-width: 665px) {
        .product__consist-item {
          text-align: left; } }
      .product__consist-item::before {
        content: '';
        position: absolute;
        left: 5px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 7px;
        height: 7px;
        background-color: #f00; }
  .product__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 10px 20px; }
  .product__price {
    font-size: 30px;
    margin-right: 10px; }
    .product__price-old {
      position: relative; }
      .product__price-old::before {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        top: 40%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        background-color: #fff; }
      .product__price-old_fz_14 {
        font-size: 14px; }
    .product__price-old_one {
      display: inline-block; }
      .product__price-old_one::before {
        width: 100%; }
    .product__price-new {
      color: #f00; }
    .product__price_one {
      margin: 0;
      padding: 0 10px;
      margin-bottom: 30px; }
      @media only screen and (max-width: 665px) {
        .product__price_one {
          text-align: center; } }
  .product__label {
    background-image: url("../image/products/label.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -3px;
    left: -9px;
    padding: 15px 25px 15px 5px; }

.footer {
  max-width: 1435px;
  margin: 0 auto; }
  @media only screen and (max-width: 665px) {
    .footer {
      display: none; } }
  .footer__wrapper {
    background-color: rgba(0, 0, 0, 0.9);
    max-width: 53.99%;
    margin: 0 auto;
    padding: 30px 1.875%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    @media only screen and (max-width: 1023px) {
      .footer__wrapper {
        margin-left: auto;
        margin-right: 1.875%;
        max-width: 65.6283%;
        padding: 30px 10px; } }
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
    .footer__logo img {
      margin: 20px 0; }
  .footer__block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
  .footer__menu {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px; }
    .footer__menu-link {
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 40px; }
      @media only screen and (max-width: 1023px) {
        .footer__menu-link {
          font-size: 16px; } }
    .footer__menu-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -ms-flex-line-pack: justify;
          align-content: space-between;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      height: 100px; }
    .footer__menu-item {
      font-size: 16px;
      -ms-flex-preferred-size: 30px;
          flex-basis: 30px;
      padding-right: 10px; }
      @media only screen and (max-width: 1023px) {
        .footer__menu-item {
          font-size: 14px; } }
  .footer__block-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__link {
    margin: 0 5px;
    font-size: 18px;
    text-transform: uppercase; }
    @media only screen and (max-width: 1023px) {
      .footer__link {
        font-size: 16px; } }
  .footer__info {
    text-align: right;
    margin-top: 80px; }
    @media only screen and (max-width: 1023px) {
      .footer__info {
        margin-top: 60px; } }
    @media only screen and (max-width: 850px) {
      .footer__info {
        margin-top: 40px; } }
    .footer__info .btn {
      width: 150px;
      margin-top: 20px; }

.outer-menu {
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  text-align: center;
  padding-top: 20px;
  font-size: 16px; }
  .outer-menu__item {
    margin: 20px auto;
    padding: 0 5px;
    display: block; }
    .outer-menu__item-img {
      position: relative;
      max-width: 210px;
      padding-left: 30px;
      padding-right: 0; }
      .outer-menu__item-img::before {
        content: '';
        position: absolute;
        left: 5px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center; }
    .outer-menu__item-phone::before {
      background-image: url("../image/sprites/phone.png"); }
    .outer-menu__item-map::before {
      background-image: url("../image/sprites/map.png"); }
  .outer-menu__title {
    margin: 20px auto;
    color: #f00;
    font-size: 20px; }

.pop-up {
  position: fixed;
  top: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s; }
  .pop-up_opened {
    visibility: visible;
    opacity: 1;
    z-index: 2; }
    .pop-up_opened .pop-up__img {
      top: 50%; }
  .pop-up__window {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 3; }
  .pop-up__img {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 4;
    -webkit-transition: top .5s;
    transition: top .5s; }
  .pop-up__form {
    position: fixed;
    width: 300px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 4;
    text-align: center; }
    .pop-up__form-title {
      font-size: 24px;
      padding-top: 20px;
      margin-bottom: 20px; }
    .pop-up__form-label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .pop-up__form-input {
      background-color: transparent;
      border: 3px solid #f00;
      padding: 4.5px;
      color: white;
      font-size: 16px;
      margin: 10px 0 20px; }

.breadcrumbs {
  display: inline-block;
  margin-bottom: 22px;
  overflow: scroll;
  /* chrome, safari */
  /* ie 10+ */
  /* firefox */ }
  @media only screen and (max-width: 665px) {
    .breadcrumbs {
      width: 100%; } }
  .breadcrumbs::-webkit-scrollbar {
    width: 0;
    height: 0; }
  .breadcrumbs {
    -ms-overflow-style: none; }
  .breadcrumbs {
    overflow: -moz-scrollbars-none; }
  .breadcrumbs__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-bottom: 5px; }
    @media only screen and (max-width: 665px) {
      .breadcrumbs__content {
        width: 372px; } }
  .breadcrumbs:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #f00; }
    @media only screen and (max-width: 665px) {
      .breadcrumbs:after {
        content: none; } }
  .breadcrumbs__item {
    padding-right: 10px; }
  .breadcrumbs__item:last-child {
    padding: 0; }
    .breadcrumbs__item:last-child a {
      color: #f00; }
  .breadcrumbs__item + .breadcrumbs__item::before {
    content: '>';
    padding-right: 10px;
    color: #f00; }

.container {
  max-width: 80%;
  margin: 0 auto; }
  .container_menu {
    margin-bottom: 20px;
    max-width: 200px; }

.dot {
  display: block;
  overflow: hidden;
  text-align: left;
  position: relative;
  padding: 3px 0;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 300; }
  .dot:hover {
    color: #f00; }
  .dot::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #f00;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 10px; }

.contact {
  font-weight: 300;
  padding: 10px 0; }
  @media only screen and (max-width: 665px) {
    .contact {
      max-width: 46.25%;
      -ms-flex-preferred-size: 46.25%;
          flex-basis: 46.25%; } }
  .contact__title {
    font-size: 22px; }
    @media only screen and (max-width: 665px) {
      .contact__title {
        font-size: 18px; } }
  .contact__address {
    font-size: 18px; }
    @media only screen and (max-width: 665px) {
      .contact__address {
        font-size: 14px; } }

.review__item {
  position: relative;
  margin-bottom: 20px; }
  .review__item::after {
    content: '';
    position: absolute;
    width: 90px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; }
    @media only screen and (max-width: 1023px) {
      .review__item::after {
        content: none;
        background-image: none; } }
  .review__item:nth-child(2n)::after {
    bottom: 5px;
    left: 0;
    background-image: url("../image/ninja4.png"); }
  .review__item:nth-child(2n+1)::after {
    bottom: 5px;
    right: 0;
    background-image: url("../image/ninja3.png"); }

.review__comment {
  padding: 10px 20px;
  line-height: 24px; }

.review__date {
  padding: 20px;
  text-align: right; }

.form-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  @media only screen and (max-width: 665px) {
    .form-review {
      display: block; } }
  .form-review::before, .form-review::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 81px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; }
    @media only screen and (max-width: 1023px) {
      .form-review::before, .form-review::after {
        content: none;
        background-image: none; } }
  .form-review::before {
    top: 0;
    right: 0;
    background-image: url("../image/ninja2.png"); }
  .form-review::after {
    bottom: 0;
    left: 0;
    background-image: url("../image/ninja.png");
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1); }
  .form-review__item {
    border: 2px solid #c5c5c5;
    background-color: transparent;
    color: white;
    font-size: 14px;
    padding: 5px;
    width: calc(30% - 20px);
    margin: 20px 10px; }
    @media only screen and (max-width: 665px) {
      .form-review__item {
        display: block;
        width: calc(100% - 20px); } }
    .form-review__item::-webkit-input-placeholder {
      color: #fff; }
    .form-review__item::-moz-placeholder {
      color: #fff; }
    .form-review__item:-moz-placeholder {
      color: #fff; }
    .form-review__item:-ms-input-placeholder {
      color: #fff; }
  .form-review textarea.form-review__item {
    width: 50%;
    height: 150px; }
    @media only screen and (max-width: 665px) {
      .form-review textarea.form-review__item {
        display: block;
        width: calc(100% - 20px); } }

.cart {
  position: relative; }
  .cart__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-item-align: baseline;
        align-self: baseline;
    margin-bottom: 30px; }
    @media only screen and (max-width: 665px) {
      .cart__header {
        display: none; } }
    .cart__header::after {
      content: '';
      position: absolute;
      top: 25px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: rgba(255, 0, 0, 0.9); }
    .cart__header-item {
      -ms-flex-preferred-size: 90px;
          flex-basis: 90px;
      text-align: center; }
    .cart__header-item_bigger {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 120px;
              flex: 1 1 120px;
      text-align: left; }
  .cart__product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
    position: relative; }
    @media only screen and (max-width: 665px) {
      .cart__product {
        display: block;
        padding: 10px 0;
        margin-bottom: 10px; } }
    .cart__product-info {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 120px;
              flex: 1 1 120px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: 10px; }
    .cart__product-img {
      max-width: 80px;
      margin-bottom: 10px; }
      @media only screen and (max-width: 665px) {
        .cart__product-img {
          display: none; } }
    .cart__product-name {
      margin-left: 2%;
      min-width: 100px;
      max-width: 100px; }
      @media only screen and (max-width: 665px) {
        .cart__product-name {
          max-width: 100%;
          margin-bottom: 10px; } }
    .cart__product-single-price {
      -ms-flex-preferred-size: 90px;
          flex-basis: 90px;
      text-align: center; }
      @media only screen and (max-width: 665px) {
        .cart__product-single-price {
          display: none; } }
    .cart__product-number {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      -ms-flex-preferred-size: 90px;
          flex-basis: 90px; }
      @media only screen and (max-width: 665px) {
        .cart__product-number {
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          margin-right: 10px; } }
      .cart__product-number_left {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
      .cart__product-number-button {
        border: 1px solid #4b4b4b;
        background-color: #2c2c2c;
        color: #fff;
        font-size: 18px;
        width: 23px;
        padding: 2px 0 3px; }
        .cart__product-number-button:active {
          border-color: #f00; }
      .cart__product-number-input {
        max-width: 30px;
        border: 1px solid #2a2a2a;
        background-color: #030303;
        color: #fff;
        font-size: 16px;
        text-align: center; }
    .cart__product-price {
      -ms-flex-preferred-size: 90px;
          flex-basis: 90px;
      text-align: center; }
      @media only screen and (max-width: 665px) {
        .cart__product-price {
          display: inline-block; } }
    .cart__product-delete {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      left: -30px;
      text-align: center; }
      @media only screen and (max-width: 665px) {
        .cart__product-delete {
          right: 0;
          left: auto; } }
      .cart__product-delete-button {
        border: 0;
        background-color: #f00;
        color: #fff;
        border-radius: 50%;
        font-size: 14px;
        width: 27px;
        height: 27px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .cart__product-delete-button:active {
          background-color: #9f0000; }
  .cart__all-price {
    text-align: right;
    font-size: 16px;
    margin-bottom: 50px; }
    .cart__all-price-red {
      color: #f00;
      margin-left: 20px; }
  .cart__info {
    position: relative; }
    @media only screen and (max-width: 900px) {
      .cart__info {
        -ms-flex-preferred-size: 46.25%;
            flex-basis: 46.25%;
        max-width: 46.25%; } }
    @media only screen and (max-width: 665px) {
      .cart__info {
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    .cart__info-textarea {
      width: 100%;
      height: 100px;
      margin-top: 10px;
      border: 1px solid white;
      background-color: transparent;
      color: white;
      padding: 5px;
      font-size: 16px; }
    .cart__info-button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      @media only screen and (max-width: 900px) {
        .cart__info-button {
          max-width: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%; } }
      .cart__info-button .btn {
        -ms-flex-item-align: end;
            align-self: flex-end; }
    .cart__info-title {
      font-size: 16px;
      font-weight: 300;
      position: relative; }
      .cart__info-title::before {
        content: '';
        position: absolute;
        width: 7px;
        height: 7px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        left: -13px;
        background-color: #ff0000; }
    .cart__info-subtitle {
      font-size: 10px;
      font-weight: 300; }
    .cart__info-input {
      border: 1px solid white;
      width: 100%;
      margin: 10px 0;
      font-size: 14px;
      color: white;
      padding: 5px;
      background-color: transparent; }
      .cart__info-input::-webkit-input-placeholder {
        color: #fff; }
      .cart__info-input::-moz-placeholder {
        color: #fff; }
      .cart__info-input:-moz-placeholder {
        color: #fff; }
      .cart__info-input:-ms-input-placeholder {
        color: #fff; }
    .cart__info-hidden-radio {
      position: absolute;
      left: -9999px; }
    .cart__info-radiobutton {
      display: block;
      margin: 20px 0;
      padding-left: 20px;
      position: relative;
      font-size: 14px; }
      .cart__info-radiobutton::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 13px;
        height: 13px;
        background-image: url(../image/radio.png);
        background-repeat: no-repeat;
        background-position: 0 100%; }
    .cart__info-hidden-radio:checked + .cart__info-radiobutton::before {
      background-position: 0 0; }
    .cart__info-sticks {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .cart__info-sticks-txt {
        margin-right: 10px; }

.mobile-content {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }
  @media only screen and (min-width: 666px) {
    .mobile-content {
      display: none; } }

.error {
  text-align: center;
  font-size: 60px;
  color: #424242;
  padding: 130px 0; }
  @media only screen and (max-width: 665px) {
    .error {
      font-size: 40px;
      padding-top: 130px;
      padding-bottom: 200px; } }
  .error__text {
    margin-bottom: 20px;
    text-transform: uppercase; }

.thanks {
  text-align: center;
  padding: 220px 0;
  position: relative; }
  @media only screen and (max-width: 665px) {
    .thanks {
      padding: 100px 0; } }
  .thanks__header {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 20px; }
  .thanks__text {
    font-size: 20px; }
    .thanks__text-red {
      color: red; }
  .thanks__ninja-top {
    position: absolute;
    top: 20px;
    left: 20px;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1); }
    @media only screen and (max-width: 665px) {
      .thanks__ninja-top {
        display: none; } }
  .thanks__ninja-bottom {
    position: absolute;
    right: 20px;
    bottom: 20px;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1); }
    @media only screen and (max-width: 665px) {
      .thanks__ninja-bottom {
        display: none; } }

._hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

._fixed {
  position: fixed;
  max-width: 269.984px;
  width: 18.815%; }
  @media only screen and (max-width: 1023px) {
    ._fixed {
      width: 28.1342%;
      max-width: 100%; } }

._text-align_right {
  text-align: right; }
